<div th:fragment="modalTask" class="modal fade" id="modalTask" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        PlaDat Magic Assistant
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             style="margin: auto; background: none; display: block; shape-rendering: auto;" width="100%"
                             height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <circle cx="84" cy="50" r="10" fill="#246ffa">
                                <animate attributeName="r" repeatCount="indefinite" dur="0.625s" calcMode="spline"
                                         keyTimes="0;1" values="12;0" keySplines="0 0.5 0.5 1" begin="0s"/>
                                <animate attributeName="fill" repeatCount="indefinite" dur="2.5s" calcMode="discrete"
                                         keyTimes="0;0.25;0.5;0.75;1" values="#246ffa;#246ffa;#246ffa;#246ffa;#246ffa"
                                         begin="0s"/>
                            </circle>
                            <circle cx="16" cy="50" r="10" fill="#246ffa">
                                <animate attributeName="r" repeatCount="indefinite" dur="2.5s" calcMode="spline"
                                         keyTimes="0;0.25;0.5;0.75;1" values="0;0;12;12;12"
                                         keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"/>
                                <animate attributeName="cx" repeatCount="indefinite" dur="2.5s" calcMode="spline"
                                         keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84"
                                         keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"/>
                            </circle>
                            <circle cx="50" cy="50" r="10" fill="#246ffa">
                                <animate attributeName="r" repeatCount="indefinite" dur="2.5s" calcMode="spline"
                                         keyTimes="0;0.25;0.5;0.75;1" values="0;0;12;12;12"
                                         keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.625s"/>
                                <animate attributeName="cx" repeatCount="indefinite" dur="2.5s" calcMode="spline"
                                         keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84"
                                         keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.625s"/>
                            </circle>
                            <circle cx="84" cy="50" r="10" fill="#246ffa">
                                <animate attributeName="r" repeatCount="indefinite" dur="2.5s" calcMode="spline"
                                         keyTimes="0;0.25;0.5;0.75;1" values="0;0;12;12;12"
                                         keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.25s"/>
                                <animate attributeName="cx" repeatCount="indefinite" dur="2.5s" calcMode="spline"
                                         keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84"
                                         keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.25s"/>
                            </circle>
                            <circle cx="16" cy="50" r="10" fill="#246ffa">
                                <animate attributeName="r" repeatCount="indefinite" dur="2.5s" calcMode="spline"
                                         keyTimes="0;0.25;0.5;0.75;1" values="0;0;12;12;12"
                                         keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.875s"/>
                                <animate attributeName="cx" repeatCount="indefinite" dur="2.5s" calcMode="spline"
                                         keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84"
                                         keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.875s"/>
                            </circle>
                        </svg>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-subtitles"><p>Creating a directory...</p></div>
                <div class="modal-body">
                    <div class="form-block">
                        <input class="input-form" type="text" placeholder="" name="title" required>
                        <label>Title</label>
                    </div>
                    <div class="form-block">
                        <input class="input-form" type="text" placeholder="" name="description">
                        <label>Description</label>
                    </div>
                    <div class="form-block">
                        <select class="input-form" type="text" placeholder="" name="priority" required>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select>
                        <label>Priority</label>
                    </div>
                    <div class="form-block">
                        <select class="input-form multiple" type="text" placeholder="" name="users_id" multiple>
                        </select>
                        <label class="alwaysActive">Users</label>
                    </div>
                    <div class="form-block">
                        <select class="input-form" type="text" placeholder="" name="directory_id">

                        </select>
                        <label>Directory</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash"
                             viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-send" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>