body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-top: 30px;
    min-width: 375px;
}
::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6) !important;
    border-radius: 3px !important;
}

::-webkit-scrollbar-thumb {
    background:  rgba(0, 0, 0, 0.6) !important;
    border-radius: 3px !important;
}
.background {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(135deg, #7a1cc7, #246ffa);
    animation: bganimation 15s ease infinite;
    background-size: 200%;
    filter: blur(0px);
    height: 100%;
    width: 100%;
    z-index: -1;
}

select {
    height: 33px !important;
}

.nav-pills {
    background-color: rgba(0, 0, 0, .4);
    border: 0px;
}

.nav-link {
    background-color: white;
}

.nav-link.active {
    background-color: #246ffa;
}

h1, h2, h3, h4, h5, h6, h7 {
    margin-bottom: 0px;
}

#pillNav2 {
    box-shadow: none;
}

.nav {
    width: 40%;
    margin: 0 auto 30px;
}
.events, .task
{
    height: calc(100vh - 135px);
}
.task-header > div:nth-child(2), .events-header > div:nth-child(2) {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 0 10px;
}

.task-header > div:nth-child(2) > button, .events-header > div:nth-child(2) > button {
    margin-top: 20px;
    display: inline-block;
    height: 30px;
    width: 22%;
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
    border: 0px;
    font-size: 12px;
    line-height: initial;
    margin-right: 10px;
    position: relative;
}

.task-header > div:nth-child(2) > button:last-child, .events-header > div:nth-child(2) > button:last-child {
    margin-right: 0px;
}

.task-header > div:nth-child(2) > button > svg, .events-header > div:nth-child(2) > button > svg {
    margin-right: 5px;
}

.task-header > div:nth-last-child > button, .events-header > div:nth-last-child {
    margin-left: 0px;
}

.task, .events {
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
}

.card-task, .card-event {
    border-radius: 10px;
    height: 70px;
    background-color: rgba(0, 0, 0, .4);
    padding: 10px;
    margin: 10px 10px 0px;
}

.task-header > div:nth-child(1), .events-header > div:nth-child(1) {
    display: flex;
    justify-content: center;
}

.task-header > div:nth-child(1) > button, .events-header > div:nth-child(1) > button {
    background-color: transparent;
    border: 0px;
    color: white;
    margin-left: auto;
}
.task-body, .events-body
{
    overflow: scroll;
    overflow-x: hidden;
    flex: 0 1 auto;
    margin-top: 10px;
    height: 100%;
}
.filter > svg, .filter > span
{
    pointer-events: none;
}
.exception
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 135px);
}
.exception > div:nth-child(1)
{
    text-align: center;
    color: white;
}
.exception > div:nth-child(1) > h4
{
    margin-top: 10px;
}
.exception > div:nth-child(1) > p
{
    margin-top: 5px;
}
.task-body-head, .events-body-head
{
    pointer-events: none;
}
.task-body-head > div, .events-body-head > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.task-body-head > div > :nth-child(1), .events-body-head > div > :nth-child(1) {
    margin-bottom: 0px;
}

.events-body-head > div > p:nth-child(2) {
    font-size: 11px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.task-body-head > div > p:nth-child(2), .events-body-head > div > p:nth-child(3) {
    margin-left: 10px;
    margin-bottom: 0px;
}

button:focus, .btn-close:focus {
    outline: none !important;
    box-shadow: none;
}
button:focus-visible, nav-item:focus-visible, .nav-link:focus-visible
{
    box-shadow: none !important;
    outline: none!important;
}

@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.new-filter {
    background-color: rgba(0, 0, 0, .35);;
    padding: 6px;
    display: inline-block;
    border-radius: 6px;
    width: max-content;
    position: absolute;
    top: 35px;
    left: -87px;
    display: none;
}

.new-filter > input{
    border: 0px;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 11px;
    width: 200px;
    color: white;
    display: inline-block;
}
.new-filter > select
{
    width: 200px;
    background-color: transparent;
    border: none;
    color: white;
    border:0px;
    border-bottom: 2px;
    border-color: white !important;
    height: 16.5px !important;
}
select:focus-visible
{
    outline: none;
}
.new-filter > select > option
{
    color: black;
}

.new-filter > input:focus, .new-filter > select:focus {
    border: 0px;
    border-bottom: 2px solid white;
}

.new-filter > span {
    display: inline-block;
    height: 100%;
    margin-left: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 3px;
}

input:focus {
    outline: none !important;
}

.directories-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.directories-main > p {
}

.directories-action, .stakeholder-body > div > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.directories-action > button {
    border: 0px;
    padding: 11.5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .55);
}

.stakeholder-body > div > div:nth-child(1) > button {
    border: 0px;
    padding: 11.5px;
    background-color: transparent;
    margin-left: auto;
}

.directories-action > button > svg, .stakeholder-body > div > div:nth-child(1) > button > svg {
    width: 27px;
    color: white;
    height: auto;
}

.directories-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.directories-sub {
    display: flex;
    flex-direction: column;
}

.directories-sub > a {
    margin: 30px auto 0;
    display: block;
    background-color: transparent;
    border: 0px;
    color: white;
}

.directories-sub > a > svg {
    width: 50px;
    color: white;
    height: auto;
    margin: auto;
}
.cardDirectory > a
{
    display: block;
    margin-left: auto;
    color: white;
}
.cardDirectory > a > svg
{
    width: 20px;
    height: auto;
}
.directories-body > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    padding: 10px;
    border-radius: 20px;
    margin-top:20px;
    background-color: rgba(0, 0, 0, .4);
    height: calc(100vh - 205px);
    grid-auto-rows: 0fr;
    overflow-y: scroll;
}

.stakeholder-body > div {
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .4);
    height: calc(100vh - 135px);
    display: flex;
    flex-direction: column;
}

.stakeholder-body > div > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    overflow-y: scroll;
    flex: 1 1 auto;
    grid-auto-rows: 0fr;
}
.cardDirectory, .cardStakeholder {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
.cardTodo
{
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.cardDirectory > svg,.cardTodo >svg, .cardStakeholder > svg {
    pointer-events: none;
    width: 30px;
    height: auto;
    margin: 0 auto;
}

.cardDirectory > p, .cardTodo >p, .cardStakeholder > p {
    pointer-events: none;
    margin-top: 10px;
    margin-bottom: 0px !important;
}
button > p, button > svg
{
    pointer-events: none !important;
}

.modal-content {
    padding: 20px;
    border: 0px;
    border-radius: 20px;
    z-index: -2;
}

.modal-header {
    padding: 0px;
    border: 0px;
}

.modal-header > .modal-title {
    color: #246ffa;
    display: flex;
    align-items: center;
}

.modal-header > .modal-title > svg {
    width: 30px;
    height: 30px;
    margin-left: 10px !important;
}

.btn-close {
    width: 30px;
    height: 30px;
}

.modal-body {
    border: 0px;
    padding: 15px;
}

.modal-footer {
    margin-top: 15px;
    border: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.modal-footer > a {
    margin-left: 0px;
}

.modal-footer > a > svg {
    width: 25px;
    height: auto;
    color: #7e7e7e;
}

.modal-footer > button {
    border: 0px;
    background-color: transparent !important;
    padding: 0px;
    margin-left: auto;
}

.modal-footer > button:hover {
    background-color: transparent;
}

.modal-footer > button > svg {
    width: 25px;
    height: auto;
    color: #246ffa;
}

form {
    width: 100%;
}

.form-block {
    position: relative;
    margin-top: 15px;
}

.input-form {
    border: 0;
    color: #7e7e7e;
    border: 2px solid #7e7e7e;
    background-color: transparent;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 10px;
    transition: 0.4s;
}

.input-form-dir {
    width: 65%;
    display: block;
    margin: 0 auto 30px;
    border-color: #246ffa;
    color: #246ffa;
}

.input-form ~ label {
    position: absolute;
    left: 10px;
    top: 9px;
    color: #7e7e7e;
    transition: 0.4s;
    font-size: 12px;
    z-index: -1;
    border: white;
    background-color: white;
    padding-left: 2px;
    padding-right: 2px;
}

.input-form-focus ~ label, .has-content.input-form ~ label {
    top: -7px;
    color: #246ffa;
    transition: 0.4s;
    font-size: 10px;
    background-color: white;
    z-index: 0;
}

.input-form-focus {
    border-color: #246ffa;
    transition: 0.4s;
}

.modal-subtitles {
    width: fit-content;
}

.modal-subtitles > p {
    overflow: hidden;
    border-right: 2px solid #7e7e7e;
    white-space: nowrap;
    display: block;
    width: fit-content;
    margin-left: 0px;
    margin-bottom: 0px;
    color: #7e7e7e;
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

#searchBoxContainer,
.MicrosoftMap,
#as_containerSearch_searchBox,
.asOuterContainer,
.bingLogoContainer {
    width: 100% !important;
    display: block !important;
}

.MicrosoftMap .as_container ul {
    padding: 0px !important;
    max-height: 150px !important;
    overflow: scroll !important;
    margin: 0px !important;
    overflow-x: hidden !important;
}

#searchBox {
    box-sizing: inherit !important;
}

.bingLogoContainer > span {
    margin-right: 30px;
    margin-bottom: 30px;
}
.nav-link
{
    color:white !important;
}
.filter-active
{
    border: 2px solid #7a1cc7 !important;
}
.filter:hover
{
    transition-duration: 1s;
    color:#7a1cc7 !important;
}
.filter:focus-within
{
    color:#7a1cc7 !important;
}
.multiple
{
    height: 99px !important;
}
.alwaysActive
{
    top: -7px !important;
    font-size: 10px !important;
    background-color: white !important;
    z-index: 0 !important;
}
.game {
    width: 612px;
    height: 200px;
    background-color: white;
    margin: auto;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url('../img/trex.png');
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

.jump {
    animation: jump 0.3s linear;
}

#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;

    background-image: url('../img/cactus.png');
    background-size: 20px 40px;
}
.animation
{
    animation: block 2s infinite linear;
}
@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 130px;
    }

    50% {
        top: 80px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 150px;
    }
}
@keyframes block {
    0% {
        left: 580px;
    }

    100% {
        left: 0px;
    }
}
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #7e7e7e;
    }
}
@media only screen and (max-width: 1200px) {
    .filter > span {
        display: none;
    }
    .filter > svg
    {
        margin-right: 0px;
    }
}
@media only screen and (max-width: 720px) {
    .directories-sub > a > svg {
        width: 30px;
    }

    .directories-action > button > svg {
        width: 17px;
    }
}
@media only screen and (max-width: 992px) {
    .nav{
        width: 50%;
    }
    .coli{
        display: inline-block;
    }
    .rowi{
        overflow-x: scroll;
        white-space: nowrap;
        display: block;
    }
}
@media only screen and (max-width: 780px) {
    .nav{
        width: 70%;
    }
}
@media only screen and (max-width: 800px) {
    .game
    {display: none}
}
@media only screen and (max-width: 580px) {
    .nav{
        width: 90%;
    }
}
@media only screen and (max-width: 420px) {
    .nav{
        width: 100%;
    }
}




